<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Tele number:</b>
  <%= @owner.tele_number %>
</p>

<p>
  <b>Country:</b>
  <%= @owner.country %>
</p>

<p>
  <b>City:</b>
  <%= @owner.city %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
