<p id="notice"><%= notice %></p>
<p>
  <b>Model:</b>
  <%= @backend_brandnew_car.car_model.name %>
</p>
<p>
  <b>Year:</b>
  <%= @backend_brandnew_car.year %>
</p>

<p>
  <b>Cylinders:</b>
  <%= @backend_brandnew_car.cylinders %>
</p>

<p>
  <b>Horse power:</b>
  <%= @backend_brandnew_car.horse_power %>
</p>

<p>
  <b>Doors:</b>
  <%= @backend_brandnew_car.doors %>
</p>

<p>
  <b>Air bags:</b>
  <%= @backend_brandnew_car.air_bags %>
</p>

<p>
  <b>Abs:</b>
  <%= @backend_brandnew_car.abs %>
</p>

<p>
  <b>Price:</b>
  <%= @backend_brandnew_car.price %>
</p>



<%= link_to 'Edit', edit_backend_brandnew_car_path(@backend_brandnew_car) %> |
<%= link_to 'Back', backend_brandnew_cars_path %>
