<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.date_select :year %>
  </div>
  <div class="field">
    <%= f.label :specs %><br />
    <%= f.text_field :specs %>
  </div>
  <div class="field">
    <%= f.label :engin_size %><br />
    <%= f.number_field :engin_size %>
  </div>
  <div class="field">
    <%= f.label :gearbox %><br />
    <%= f.text_field :gearbox %>
  </div>
  <div class="field">
    <%= f.label :shifts %><br />
    <%= f.number_field :shifts %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :cylinders %><br />
    <%= f.number_field :cylinders %>
  </div>
  <div class="field">
    <%= f.label :valves %><br />
    <%= f.number_field :valves %>
  </div>
  <div class="field">
    <%= f.label :injection %><br />
    <%= f.check_box :injection %>
  </div>
  <div class="field">
    <%= f.label :torque %><br />
    <%= f.text_field :torque %>
  </div>
  <div class="field">
    <%= f.label :hourse_power %><br />
    <%= f.number_field :hourse_power %>
  </div>
  <div class="field">
    <%= f.label :drive_wheels %><br />
    <%= f.check_box :drive_wheels %>
  </div>
  <div class="field">
    <%= f.label :seats %><br />
    <%= f.number_field :seats %>
  </div>
  <div class="field">
    <%= f.label :doors %><br />
    <%= f.number_field :doors %>
  </div>
  <div class="field">
    <%= f.label :fuel_consumption %><br />
    <%= f.text_field :fuel_consumption %>
  </div>
  <div class="field">
    <%= f.label :fuel_tank %><br />
    <%= f.number_field :fuel_tank %>
  </div>
  <div class="field">
    <%= f.label :air_bags %><br />
    <%= f.check_box :air_bags %>
  </div>
  <div class="field">
    <%= f.label :air_bags_front %><br />
    <%= f.check_box :air_bags_front %>
  </div>
  <div class="field">
    <%= f.label :electric_seat %><br />
    <%= f.check_box :electric_seat %>
  </div>
  <div class="field">
    <%= f.label :abs %><br />
    <%= f.check_box :abs %>
  </div>
  <div class="field">
    <%= f.label :ebd %><br />
    <%= f.check_box :ebd %>
  </div>
  <div class="field">
    <%= f.label :esp %><br />
    <%= f.check_box :esp %>
  </div>
  <div class="field">
    <%= f.label :alarm %><br />
    <%= f.check_box :alarm %>
  </div>
  <div class="field">
    <%= f.label :tier_size %><br />
    <%= f.number_field :tier_size %>
  </div>
  <div class="field">
    <%= f.label :front_fog_light %><br />
    <%= f.check_box :front_fog_light %>
  </div>
  <div class="field">
    <%= f.label :rear_fog_light %><br />
    <%= f.check_box :rear_fog_light %>
  </div>
  <div class="field">
    <%= f.label :electric_mirrors %><br />
    <%= f.check_box :electric_mirrors %>
  </div>
  <div class="field">
    <%= f.label :electric_windows %><br />
    <%= f.check_box :electric_windows %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
