<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", cars_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_car_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Cars list</h2>
    <div class="inner">
      <table class="table">
        <tr>
          
          <th>
			Price
          </th>
          <th>
			Model
          </th>
          <th>
            Year
          </th>
                   
          <th class="last">&nbsp;</th>
        </tr>
        <% @cars.each do |car| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= car.price+" LE" unless car.price.nil?%> 
          </td>
          <td>
            <%= link_to "#{t("web-app-theme.show", :default => car.car_model.name)}", car_path(car) %> 
          </td>
         <td>
            <%= car.year %>
          </td>
          
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

