<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", cars_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_car_path %></li>
      <li class="select">Select Model<%= form_tag("/cars",:action => 'index', :method => "get") do %>
        <%= select_tag :id, options_from_collection_for_select(@models, :id, :name,@model_id), :onchange => 'submit()',:prompt => "All Models",:id=>"car_model_id" %> 
        <% end %>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Cars list</h2>

      
      
    <div class="inner">
      <table class="table">
        <tr>
          
          <th>
            <%= link_to "Price", cars_path({:sort=>"price"}) %> 
			
          </th>
          <th>
			Model
          </th>
          <th>
            <%= link_to "Year", cars_path({:sort=>"year"}) %> 
          </th>
                   
          <th class="last">&nbsp;</th>
        </tr>
        <% @cars.each do |car| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= car.price.to_s+" LE" unless car.price.nil?%> 
          </td>
          <td>
            <%= link_to "#{t("web-app-theme.show", :default => car.car_model.name)}", car_path(car) %> 
          </td>
         <td>
            <%= car.year %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", car_path(car) %>
          </td>
          
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

