<p id="notice"><%= notice %></p>


<p>
  <b>Year:</b>
  <%= @car.year %>
</p>
<p>
  <b>Cylinders:</b>
  <%= @car.cylinders %>
</p>
<p>
  <b>Horse power:</b>
  <%= @car.horse_power %>
</p>
<p>
  <b>Doors:</b>
  <%= @car.doors %>
</p>
<p>
  <b>Air bags:</b>
  <%= @car.air_bags %>
</p>
<p>
  <b>Abs:</b>
  <%= @car.abs %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
