<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Specs:</b>
  <%= @car.specs %>
</p>

<p>
  <b>Engin size:</b>
  <%= @car.engin_size %>
</p>

<p>
  <b>Gearbox:</b>
  <%= @car.gearbox %>
</p>

<p>
  <b>Shifts:</b>
  <%= @car.shifts %>
</p>

<p>
  <b>Type:</b>
  <%= @car.type %>
</p>

<p>
  <b>Cylinders:</b>
  <%= @car.cylinders %>
</p>

<p>
  <b>Valves:</b>
  <%= @car.valves %>
</p>

<p>
  <b>Injection:</b>
  <%= @car.injection %>
</p>

<p>
  <b>Torque:</b>
  <%= @car.torque %>
</p>

<p>
  <b>Hourse power:</b>
  <%= @car.hourse_power %>
</p>

<p>
  <b>Drive wheels:</b>
  <%= @car.drive_wheels %>
</p>

<p>
  <b>Seats:</b>
  <%= @car.seats %>
</p>

<p>
  <b>Doors:</b>
  <%= @car.doors %>
</p>

<p>
  <b>Fuel consumption:</b>
  <%= @car.fuel_consumption %>
</p>

<p>
  <b>Fuel tank:</b>
  <%= @car.fuel_tank %>
</p>

<p>
  <b>Air bags:</b>
  <%= @car.air_bags %>
</p>

<p>
  <b>Air bags front:</b>
  <%= @car.air_bags_front %>
</p>

<p>
  <b>Electric seat:</b>
  <%= @car.electric_seat %>
</p>

<p>
  <b>Abs:</b>
  <%= @car.abs %>
</p>

<p>
  <b>Ebd:</b>
  <%= @car.ebd %>
</p>

<p>
  <b>Esp:</b>
  <%= @car.esp %>
</p>

<p>
  <b>Alarm:</b>
  <%= @car.alarm %>
</p>

<p>
  <b>Tier size:</b>
  <%= @car.tier_size %>
</p>

<p>
  <b>Front fog light:</b>
  <%= @car.front_fog_light %>
</p>

<p>
  <b>Rear fog light:</b>
  <%= @car.rear_fog_light %>
</p>

<p>
  <b>Electric mirrors:</b>
  <%= @car.electric_mirrors %>
</p>

<p>
  <b>Electric windows:</b>
  <%= @car.electric_windows %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
